<ng-container>
    <div class="container">
        <div class="leftContent">
            <div style="width:40px"></div>

            <div class="text-box">
                <div class="label">新闻首页</div>
            </div>

            <div class="button-box">
                <button class="menuBtnBox" nz-button>
                    <div class="MOOCLabel" style="font-size: 14px">应用</div>
                    <img class="icon-arrows" src="./assets/down-arrows.png">
                </button>
            </div>

            <div class="text-box">
                <div class="label">无障碍浏览</div>
            </div>

        </div>
        <div class="rightContext">
            <div class="button-box divider-line">
                <button class="menuBtnBox" nz-button nzType="">
                    <img class="icon-arrows" src="./assets/top-arrows.png">
                </button>
            </div>

            <div class="button-box divider-line">
                <button class="menuBtnBox" nz-button>
                    <div class="MOOCLabel">公开课</div>
                    <i class="iconfont icon-shangjiantou"></i>
                    <img class="icon-arrows" src="./assets/top-arrows.png">
                </button>
            </div>

            <div class="button-box divider-line">
                <button class="menuBtnBox" nz-button>
                    <img src="top-arrows.png">
                    <img class="icon-arrows" src="./assets/top-arrows.png">
<!--                    <i class="iconfont icon-renminbi"></i>-->
<!--                    <i class="iconfont icon-shangjiantou"></i>-->
                </button>
            </div>

            <div class="button-box divider-line">
                <button class="menuBtnBox" nz-button>
                    <img src="top-arrows.png">
                    <img class="icon-arrows" src="./assets/top-arrows.png">
<!--                    <i class="iconfont icon-youjian"></i>-->
<!--                    <i class="iconfont icon-shangjiantou"></i>-->
                </button>
            </div>

            <div class="button-box text-box divider-line">
                <div class="label">登录</div>
            </div>

            <div class="button-box divider-line">
                <button class="menuBtnBox" nz-button>
                    <div class="MOOCLabel" style="font-size: 14px">注册免费邮箱</div>
<!--                    <i class="iconfont icon-youjian"></i>-->
                    <img class="icon-arrows" src="./assets/top-arrows.png">
                </button>
            </div>

            <div class="button-box divider-line" style="margin-right: 44px">
            <button class="menuBtnBox" nz-button>
                <img class="icon-arrows" src="./assets/top-arrows.png">
            </button>
        </div>


        </div>
    </div>


</ng-container>
