
<div class="left_con_box">
    <div class="container">
        <div class="borderTestBox">
            <div class="graph-center">
                <div class="graph-top-shade"></div>
                <div class="graph-left-shade"></div>
                <div class="graph-right-shade"></div>
                <div class="graph-bottom-shade"></div>

                <div class="graph-top"></div>
                <div class="graph-right"></div>
                <div class="graph-bottom"></div>
                <div class="graph-left"></div>
                <!--圆角-->
                <div class="center-left-top"></div>
                <div class="center-left-top center-top-left"></div>

                <div class="center-left-top"></div>
                <div class="center-left-top center-top-left"></div>
                <div class="center-top-right"></div>
                <div class="center-top-right center-right-top"></div>
                <div class="center-bottom-right"></div>
                <div class="center-bottom-right center-right-bottom"></div>
                <div class="center-bottom-left"></div>
                <div class="center-bottom-left center-left-bottom"></div>


            </div>


<!--            <div class="left-center-left"></div>-->

<!--            <div class="left-center-top"></div>-->


        </div>
    </div>
</div>


