
.full-width-table {
  width: 100%;
}
.icon-weixin {
  color: #1ebf3f;
}
//
//.content-text {
//  margin-left: auto;
//  margin-right: auto;
//}

.cell-handle .mat-raised-button{
  color: #333;
  font-weight: normal
}

.container {
  padding: 12px;
  height: 100%;
  width: 100%;
  flex: 1;
  position: relative;
  box-sizing: border-box;
  background-color: yellow;
}

.mat-elevation-z8 {
  height: 100%;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.th-test {
  position: sticky;
  top: 0;
  z-index: 2;
}

.tf-test {
  position: sticky;
  bottom: 0;
  z-index: 1;
}

.div {
  /*宽高为0*/
  width: 0;
  height: 0;
  /*在三角形底边设置一个边界颜色/
  border-top: 20px solid red;
  /*其它3边设置相同颜色，*/
  border-bottom: 20px solid white;
  border-left: 20px solid white;
  border-right: 20px solid white;
}

.table-box {
  position: relative;
  overflow: hidden;
  overflow: auto;
  width: 100%;
  flex: 1;
  table-layout: auto;


  table {
    width: 100%;
  }


  tr.mat-header-row {
    line-height: 40px;
    display: flex;
  }
  .mat-row {
    height: auto;
    display: flex;
    cursor: pointer;
    &:hover {
      background: #F3F7FB;
    }
    &.active {
      display: none;
    }
  }
  tr.mat-row {
    cursor: default;
    &:hover {
      background: #fff;
    }
  }

  .ellipsis {
    padding: 8px 0;
    text-align: center;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }




  .noBtn {
    background: #34c749!important;
    width: 46px;
    height: 33px;
    color: #fff!important;
    border: 3px solid #34c749;
    border-radius: 5px;
  }
  .yesBtn {
    background: #fc615d!important;
    color: #fff!important;
    width: 46px;
    height: 33px;
    border: 3px solid #fc615d;
    border-radius: 5px;
  }

}

.icon-sort {
  &.active {
    color: #f94883;
  }
}


.root-test{
  position:relative;
  width: 100%;
  z-index: 3;
}

.stateChange{
  position: sticky;
  width: 100px;
  height: 50px;
  background: #f94883;
  padding-top: 25px;
  text-align: center;
  right: -35px;

  color: white;
  transform: rotateZ(45deg);
  z-index: 4;
}


// 状态条
.data-type {
  position: absolute;
  top: -10px;
  text-align: center;
  width: 130px;
  font-size: 14px;
  right: -47px;
  transform: rotateZ(50deg)!important;
  background: #f94883;
  color: #fff;
  z-index: 100;
  // z-index: 10000;
  box-shadow: 1px 1px 6px #999;
  cursor: pointer;
  transition: 200ms;
  padding-top: 40px;
  padding-bottom: 10px;
  &:hover {
    box-shadow: 1px 1px 10px #999;
  }
}

