//.layout {
//  display: flex;
//  flex-direction: column;
//}
//gsk-header {
//  height: 58px;
//}
//
//.mat-sidenav-container {
//  flex: 1;
//  z-index: auto;
//}
//.mat-sidenav-content {
//  z-index: auto;
//}
//.mat-sidenav {
//  width: 180px;
//  box-shadow: 0 0 8px #aaa;
//}


.container{

  width: 100%;
  height: 100%;
  overflow: auto;
}
