<!--<div class="layout">-->
<!--  <app-ssl-header (toggleEvent)="sidenav.toggle()"></app-ssl-header>-->
<!--  <mat-sidenav-container>-->
<!--    <mat-sidenav #sidenav mode="side" [opened]="!isMobile">-->
<!--      <div>-->
<!--        <app-ssl-sidebar  class="sidebar"></app-ssl-sidebar>-->
<!--      </div>-->
<!--    </mat-sidenav>-->
<!--    <mat-sidenav-content>-->
<!--      <router-outlet></router-outlet>-->
<!--    </mat-sidenav-content>-->
<!--  </mat-sidenav-container>-->
<!--</div>-->

<!--
<div class="layout">
  <app-ssl-header #gskHeader (toggleEvent)="sidenav.toggle()"></app-ssl-header>
  <mat-sidenav-container>
    <mat-sidenav #sidenav mode="side" [opened]="!isMobile">
      <div>
        <app-ssl-sidebar class="sidebar"></app-ssl-sidebar>
      </div>
    </mat-sidenav>
    <mat-sidenav-content>
      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
-->

<!--
网易新闻页面搭建
-->

<div class="container">
<!--    <app-position-test></app-position-test>-->
<!--    <app-news-mian-left></app-news-mian-left>-->
    <app-news-home></app-news-home>
<!--    <app-news-mian-center></app-news-mian-center>-->
<!--    <app-news-mian-left style="background-color: #ee6736"></app-news-mian-left>-->
</div>


