<div class="container">
    <div class="content-label" style="width: 100px;height: auto;background-color: red"></div>
    <div class="content-label" style="width: 100px;height: auto;background-color: blue"></div>
    <div class="content-label ellipsis" style="width: auto;height: auto;background-color: green;flex:1">
        您好，请点击需要咨询的业务类别，为您提供专属客服：1. 聊天功能2. 打卡审批3. 客户联系4. 家校沟通5. 应用与管理端6. 认证验证7. 帐号与通讯录8. 硬件与API您好，请点击需要咨询的业务类别，为您提供专属客服：1. 聊天功能2. 打卡审批3. 客户联系4. 家校沟通5. 应用与管理端6. 认证验证7. 帐号与通讯录8. 硬件与API您好，请点击需要咨询的业务类别，为您提供专属客服：1. 聊天功能2. 打卡审批3. 客户联系4. 家校沟通5. 应用与管理端6. 认证验证7. 帐号与通讯录8. 硬件与API
    </div>
</div>

