:host{
  width: 100%;
}

.container {
  padding: 10px 10px;
  width: 100%;
  background-color: yellow;
  display: flex;
  height: 100px;
}

.content-label{
  height: auto;
}

.ellipsis {
  padding: 8px 0;
  text-align: center;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

