<!--<div class="containerBox">-->

<!--</div>-->

<div class="container">

    <div class="carouselOne-box">
        <app-news-main-right-carousel [dataSource]="carouselFirstList"
                                      class="carouselOne"></app-news-main-right-carousel>
    </div>
    <!--下面是两个广告 -->
    <div class="advertising-list-box">
        <ul>
            <li *ngFor="let ad of ad_List">
                <a>{{ad.title}}</a>
            </li>
        </ul>
        <div class="ad-text">广告</div>
    </div>
    <!--这里需要把news-left插进来-->
    <div id="main-left-news" class="main-left-news" >
        <app-news-mian-left ></app-news-mian-left>
    </div>

    <div class="advertising-image">
        <div class="ad-icon"></div>
    </div>
    <!--网易公开课-->
    <div class="right-new-general-box">
        <div class="right-title-box">
            <a class="title title-hover">网易公开课</a>
        </div>
        <div class="carouselTwo-box">
            <app-news-main-right-carousel [dataSource]="carouselSecondList"
                                          class="carouselOne"></app-news-main-right-carousel>
        </div>
        <div class=""></div>
    </div>
    <!--新闻专题-->
    <div class="right-new-general-box">
        <div class="right-title-box">
            <a class="title">新闻专题</a>
        </div>
        <div class="news-features-box">
            <div class="news-head-img">
                <a><img src="https://cms-bucket.ws.126.net/2023/0117/f327a0afj00rolq6d000ac0008c002ic.jpg?imageView&thumbnail=300y90&type=webp"></a>
            </div>
            <h3>
                <span class="span-hot">HOT</span>
                <strong><a>辞虎迎兔 新年平安</a></strong>
            </h3>
            <ul>
                <li *ngFor="let news of homeRightNewsFeatures">
                    <a>{{news.title}}</a>
                </li>
            </ul>
        </div>
    </div>
    <!--又一个广告advertising-image-->
    <div class="advertising-image"
         style="height: 250px;
         width: 300px;
         height: 250px;
         margin-top: 25px;
         background: url(https://pg-ad-b1.ws.126.net/yixiao/31606/c9f12f6b2f798042fa05c791ed952820.jpg)">
        <div class="ad-icon"></div>
    </div>
    <!--军事·航空-->
    <div class="right-new-general-box">
        <div class="news-mil-airmail-box">
            <div class="right-title-box">
                <a class="title title-hover">军事</a>
                <a class="title" style="width: 15px;text-align: center;color: #888888">·</a>
                <a class="title title-hover">航空</a>
            </div>
            <div class="news-head-img news-head-img-mil">
                <a><img src="https://cms-bucket.ws.126.net/2023/0213/faf926c1j00rpzwd90020c000s600e3c.jpg?imageView&thumbnail=300y150&type=webp"></a>
                <div class="img-head-title-bg">
                    <h3>美军新系统能让步枪自动瞄准目标</h3>
                </div>
            </div>
            <div class="news-general-list news-mil-airmail-list">
                <ul>
                    <li *ngFor="let news of homeRightNewsFeatures">
                        <a>{{news.title}}</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>


    <!--又一个广告-->
    <div class="advertising-box">
        <div class="advertising-image"
             style="height: 100px;
             margin-top: 25px;">
            <img src="https://pg-ad-b1.ws.126.net/yixiao/31190/f1e713828e1aef9b1e96eef257222cd6.jpg">
            <div class="ad-icon"></div>
        </div>
        <div class="ad-title">上海别墅装修，先看星杰16888套案例>></div>
    </div>

    <div class="right-new-general-box">
        <div class="right-title-box">
            <a class="title">热点排行</a>
        </div>
        <div class="news-hot-rankings-box">
            <ul>
                <li *ngFor="let news of homeRightHotRankings,let i = index">
                    <div *ngIf="i<=2" class="top">
                        <em>{{i + 1}}</em>
                    </div>
                    <div *ngIf="i>2">
                        <em>{{i + 1}}</em>
                    </div>
                    <a>{{news.title}}</a>
                    <span>{{news.hot}}</span>
                </li>
            </ul>
        </div>
    </div>


    <!--又一个广告-->
    <div class="advertising-box">
        <div class="advertising-image"
             style="height: 100px;
             margin-top: 25px;">
            <img src="https://pg-ad-b1.ws.126.net/yixiao/31190/f1e713828e1aef9b1e96eef257222cd6.jpg">
            <div class="ad-icon"></div>
        </div>
        <div class="ad-title">上海别墅装修，先看星杰16888套案例>></div>
    </div>



    <div *ngFor="let newsModel of homeRightOtherNews" class="right-new-general-box">
        <div class="right-title-box">
            <a class="title">{{newsModel.title}}</a>
        </div>
        <div class="news-head-img news-head-img-150">
            <nz-image [nzSrc]="newsModel.img.src"></nz-image>
            <div class="img-head-title-bg">
                <h3>{{newsModel.img.title}}</h3>
            </div>
        </div>
        <div class="news-general-list news-mil-airmail-list">
            <ul>
                <li *ngFor="let news of newsModel.list">
                    <a>{{news.title}}</a>
                </li>
            </ul>
        </div>
    </div>




</div>

