
*{
  padding: 0;
}

:host{
  width: 100%;
  position:relative;
  overflow: hidden;
}

.container {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
}

.container:hover .focus_prev {
  left:0px;
}
.container:hover .focus_next {
  right:0px;
}

.carousel-title-box{
  height: 50px;
  width: 100%;
  display: block;
}

.carousel-title{
  margin-top: 10px;
  line-height: 22px;
  font-size: 22px;
  font-weight: bold;
  height: 22px;
  float:left;
}
.focus_ctrl {
  margin-top:20px;
  float:right;
}

[nz-carousel-content] {
  width: 100%;
  text-align: center;
  height: 250px;
  overflow: hidden;
}

.focus_prev, .focus_next {
  width:36px;
  height:60px;
  overflow:hidden;
  position:absolute;
  top:145px;
  z-index:99;
  cursor:pointer;
  background:url('https://static.ws.126.net/163/f2e/news/index2016_rmd/images/sprite_img20221206.png') no-repeat;
}

.focus_prev {
  background-position:-271px -775px;
  left:-36px;
  -webkit-transition:left 0.3s ease-in-out;
  -moz-transition:left 0.3s ease-in-out;
  -o-transition:left 0.3s ease-in-out;
  transition:left 0.3s ease-in-out;
}

.focus_prev:hover {
  background-position:-271px -845px;
}



.focus_next {
  background-position:-312px -775px;
  right:-36px;
  -webkit-transition:right 0.3s ease-in-out;
  -moz-transition:right 0.3s ease-in-out;
  -o-transition:right 0.3s ease-in-out;
  transition:right 0.3s ease-in-out;
}
.focus_next:hover {
  background-position:-312px -845px;
}


.focus_ctrl span {
  float:left;
  margin:0 0px 0 10px;
  width:10px;
  height:10px;
  border:1px #d6d6d6 solid;
  border-radius:10px;
  -moz-border-radius:10px;
  -o-border-radius:10px;
  -webkit-border-radius:10px;
  cursor:pointer;
}

.focus_ctrl .current {
  width:10px;
  height:10px;
  border:0px;
  border-radius:10px;
  -moz-border-radius:10px;
  -o-border-radius:10px;
  -webkit-border-radius:10px;
  background:#f34540;
}


//.img-next-page{
//  background-color: rgba(0, 0, 0, 0);
//  position: absolute;
//  height: 60px;
//  width: 36px;
//  cursor: pointer;
//}
//
//
//
//.img-previous-page{
//  background-color: rgba(0, 0, 0, 0);
//  position: absolute;
//}

.img-box{
  width: 100%;
  height: 250px;
  display:block;
  overflow:hidden;
  position:relative;
}

.img-box img {
  ertical-align:top;
  -webkit-transition:all 0.5s;
  -moz-transition:all 0.5s;
  -ms-transition:all 0.5s;
  -o-transition:all 0.5s;
  transition:all 0.5s;
}

.img-box:hover img {
  transition: all 1.5s ease-in-out;
}


  //图片标题下方有个渐变色的背景

.img-title-background-gradient{
  background-image: linear-gradient(rgba(23, 23, 23, 0), rgba(23, 23, 23, 1));
  height: 53px;
  width: 100%;
  position: absolute;
  bottom: 50px;
  left: 0px;
}

.img-title{
  position: absolute;
  bottom: 70px;
  left: 13px;
  text-align: left;
  width: 100%;
  height: 20px;
  font-size: 20px;
  color: white;
}

